*{
    margin: 0;
    padding: 0;
}

#title{
    font-family: sans-serif;
    color: navy;
    margin-left: 7%;
}

#subtitle{
    font-family: sans-serif;
    color: navy;
    margin-left: 10%;
}

#check{
    display: inline-block;
}

fieldset{
    border: 0;
}

body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}

.topic::before, .topic::after{
    display: table;
}

.topic::after{
    clear: both;
}

.topic{
    margin-bottom: 1em;
}

.topic label{
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

fieldset.group .topic{
    float: left;
    margin-right: 1em;
}

.topic input[type="text"], .topic[type="email"], .topic select, .topic textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.topic select option{
    padding-right: 1em;
}

.topic input:focus, .topic select:focus, .topic textarea:focus{
    background:rgb(222, 213, 255);
}

.button {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.button:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.button, select{
    cursor: pointer;
}


